$def with (country, deaths, tdeaths, cases, tcases, recovered, trecovered)

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}




</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<h1 style="font-size:8.5vw;">Corona Statistics</h1>

<p style="font-size:3vw;"> Country: $country <br/> Cases: $cases <br/> Cases today: $tcases <br/> Deaths:  $deaths   <br/>  Deaths today:  $tdeaths <br/> Recovered: $recovered <br/> Recovered today:  $trecovered</p>

</body>

